<script>

    function onUpdate() {
        $('.mvc-grid').mvcgrid({
            requestType: 'get', // defaults to get
            reload: true
        });
    }

    function onAdd() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Generate", "Home")',
            contentType: false,
            processData: false,
            success: function () { onUpdate(); }
        });
    }
</script>
<a href="javascript:void(0)" date-hidear="false" onclick="onAdd()" class="btn btn-success">Get one </a>
<a href="/Home/Download" date-hidear="false" class="btn btn-success">Download repor</a>
<a href="javascript:void(0)" date-hidear="false" onclick="onUpdate()" class="btn btn-success">Обновить</a>
<br>
<br>

@Html.AjaxGrid(Url.Action("Grid"))